- name: Install Golang
  ansible.builtin.yum:
    name: golang
    state: installed

- name: App Pre-requisites
  ansible.builtin.import_tasks:
    file: app_presetup.yml

- name: Install Application Dependencies
  ansible.builtin.shell: go mod init {{ component }} ; go get ; go build
  args:
    chdir: /app

- name: Systemd Setup
  ansible.builtin.import_tasks:
    file: systemd_setup.yml




